
.barra{
  min-height: 100px;              
  background: #aeb8c1;            
  display: flex;                  
  align-items: center;           
}

.barra .navbar-nav{
  margin-left: auto;              
  margin-right: auto;             
  gap: 25px;                      
}


.barra .nav-link{
  color: #442a2a;                   
  text-decoration: none;
  font-family: system-ui, sans-serif;
  font-size: 18px;
}


.barra .nav-link:hover{
  color: #05172a;
}


.barra .navbar-toggler{
  border-color: rgba(121, 81, 81, 0.5);
}
.barra .navbar-toggler-icon{
  filter: invert(1);              
}


#inicio{
  background: linear-gradient(180deg,#e0e0e8 0%,#f9fafb 100%);
}
#inicio img{
  width:100%;
  max-height:360px;
  object-fit:cover;
  border-radius: 1rem;
  box-shadow: 0 10px 24px rgba(0,0,0,.06);
}

#info .p-4{
  background:#ddd6d6;
  border-radius: 1rem;
  transition: .2s;
}
#info .p-4:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 24px rgba(0,0,0,.06);
}

#carouselExampleControls .carousel-inner{
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 24px rgba(0,0,0,.06);
}
#carouselExampleControls img{
  width:100%;
  height:420px;
  object-fit:cover;
}


